.accordion {
  //////////////////////////
  // the container for all accordions
  /////////////////////////
  &__container {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    ///v2
    &--v2 {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  //////////////////////////
  // each accordion
  /////////////////////////
  &__accordion {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    &:before {
      content: " ";
      position: absolute;
      width: 3px;
      height: 100%;
      background-color: #dee6ef;
      z-index: 1;
      top: 0;
      left: 3px;
      @include breakpoint(tablet) {
        left: 18px;
      }
    }
    &:after {
      content: " ";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $color-highlight;
      z-index: 1;
      top: 0;
      left: 0;
      border-radius: 100%;
      @include breakpoint(tablet) {
        display: none;
      }
    }
    /// v1
    &--v1 {
      &:last-child {
        &:before {
          height: 50%;
        }
      }
    }
    /// v2
    &--v2 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      &:before,
      &:after {
        display: none;
      }
      flex-direction: row-reverse;
      width: 100%;
      flex: 0 1 100%;
      margin-bottom: 12px;
      @include breakpoint(tablet) {
        width: 48%;
        flex: 0 1 48%;
        flex-wrap: wrap;
        margin-bottom: 16px;
      }
    }
  }
  //////////////////////////
  // the clickable area, button
  /////////////////////////
  &__btn {
    padding: 0 40px 0 40px;
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    border: 0;
    outline: 0;
    background-color: $color-page-background;
    justify-content: space-between;
    flex-direction: row;
    @include breakpoint(tablet) {
      padding: 0 40px 0 80px;
      &:hover {
        cursor: pointer;
        .accordion__description {
          text-decoration: underline;
          text-decoration-color: $color-highlight;
        }
      }
    }

    &--v1 {
      margin-bottom: 36px;
    }
    ///v2
    &--v2 {
      position: relative;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #d8d8d8;
      flex-direction: row-reverse;
      height: fit-content;
      @include breakpoint(tablet) {
        flex-direction: row-reverse;
        &:hover {
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07),
            0 2px 4px 0 rgba(0, 0, 0, 0.1);
        }
      }
    }

    &:focus {
      outline: 1px solid #000;
    }
  }
  //////////////////////////
  // the icon in clickable area
  /////////////////////////
  &__toggle {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    display: flex;
    height: 36px;
    width: 36px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $color-page-background;
    @include breakpoint(tablet) {
      left: 0;
      right: auto;
      z-index: 3;
      border-radius: 100%;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07),
        0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
    .icon {
      height: 12px;
      width: 12px;
      fill: $color-black;
    }

    .icon-arrow {
      display: none;
      fill: $color-highlight;
      @include breakpoint(tablet) {
        display: flex;
      }
    }

    .icon-minus {
      display: none;
      @include breakpoint(tablet) {
        display: none;
      }
    }

    .icon-plus {
      @include breakpoint(tablet) {
        display: none;
      }
    }

    &.icon-open {
      .icon-plus {
        display: none;
      }
      .icon-minus {
        display: flex;
        @include breakpoint(tablet) {
          display: none;
        }
      }

      .icon-arrow {
        transform: rotate(90deg);
      }
    }
    ///v2
    &--v2 {
      border-radius: 0;
      box-shadow: none;
      border: 0;
      background: transparent;
      position: relative;
      height: fit-content;
      @include breakpoint(tablet) {
        position: relative;
        left: auto;
        right: 0;
        top: 0;
      }

      .icon-arrow {
        transform: rotate(-90deg);
        display: flex;
      }

      &.icon-open {
        .icon-arrow {
          transform: rotate(360deg);
        }
      }
    }
  }
  //////////////////////////
  // text in clickable area
  /////////////////////////
  &__description {
    align-self: flex-start;
    font-size: 1.5rem;
    line-height: 1.47;
    font-weight: bold;
    text-align: left;
    margin-top: -6px;
    pointer-events: none;
    @include breakpoint(tablet) {
      font-size: 2.2rem;
      line-height: 1.18;
      margin-top: 6px;
    }
    ///// v2
    &--v2 {
      margin-top: 0;
      font-size: 1.6rem;
      line-height: 1.44;
      @include breakpoint(tablet) {
        font-size: 1.8rem;
      }
    }
  }
  //////////////////////////
  // the drop-downs
  /////////////////////////
  &__content {
    display: none;
    font-size: 1.4rem;
    line-height: 1.571;
    @include breakpoint(tablet) {
      font-size: 1.8rem;
      line-height: 1.44;
    }

    &.open {
      display: block;
      padding: 20px 40px 40px;
      @include breakpoint(tablet) {
        padding: 20px 40px 40px 80px;
      }
    }

    /////// v1
    &--v1 {
      padding: 0 40px 0 40px;
      &.open {
        display: block;
        padding: 0 40px 20px;
        @include breakpoint(tablet) {
          padding: 0 40px 20px 80px;
        }
      }
    }

    /////// v2
    &--v2 {
      padding: 0 40px 0 40px;
      &.open {
        display: block;
        padding: 20px;
      }
    }
  }
}
