/*------------------------------------*\
  #SHARED
\*------------------------------------*/

/**
 * Shared declarations for certain elements.
 */

/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */

html {
  font-size: $global-html-font-size;
}

body {
  font-size: $global-font-size;
  font-family: $global-font-family;
  color: $color-page-text;
  line-height: $global-line-height;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $global-container-width;
  margin: 0 auto;
  padding: 0 8%;
  box-sizing: content-box;

  &:after {
    content: "";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
  }

  @media (min-width: 768px) {
    padding: 0 10%;
  }

  @media (min-width: 1050px) {
    padding: 0 12%;
  }

  @media (min-width: 1250px) {
    padding: 0 14%;
  }

  @media (min-width: 1700px) {
    padding: 0 11%;
  }
}

/////////////////////// text

/* ==========================================================================
   UTILITIES
   ========================================================================== */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between images, videos, audio and canvas and the bottom of
* their containers: h5bp.com/i/440
*/

audio,
canvas,
img,
video,
svg {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

img {
  max-width: 100%;
}

a,
a:active,
a:focus {
  outline: none;
}
